body {
  font-family: "Shippori Antique B1", sans-serif, Century Gothic;
  font-weight: 400;
  color: #666;
  font-size: 13px;
  background-color: #fff;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
  width: 100%;
}
