
body{
	font-family: 'Open Sans', sans-serif;
}
#header {
  background-color: #f86600;
  box-sizing: border-box;
  padding: 0px;
  position: relative;
  width: 100%;
  margin: 0px;
}
.container.top {
  display: flex;
  box-sizing: border-box;
  padding: 16px 24px;
  margin: 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
}
#logo {
  margin: 0;
  padding: 0;
  flex: 1;
  max-height: 1.75rem;
  cursor: pointer;
}
#logo img {
  height: 28px;
  display: inline;
}
#r_header {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
a {
  text-decoration: none;
  font-family: Century Gothic;
  color: white;
  display: flex;
}
#become_provider {
  font-family: inherit;
  background-color: #f86600;
  border: #d7d7d7 1px solid;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px 16px 10px 16px;
  cursor: pointer;
  align-items: center;
}
#become_provider a::before {
  padding: 10px;
  padding-right: 20px;
  content: "";
  background-image: url("../img/bike.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
#country {
  background-image: url("../img/fromsite/bg.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  border: white 4px solid;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 10;
}
#profile {
  background-image: url("../img/profileicon.png");
  background-size: cover;
  width: 17px;
  height: 17px;
  cursor: pointer;
  z-index: 10;
  border: none;
  line-height: 1.5;
  font-size: 13px;
}

/******************************************************/

#location_search {
  margin: auto;
  padding: 0px 15px 0px 15px;
  max-width: 660px;
}
.container.search h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
  transform: scale(0.9, 1);
}
.container.search h5 {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 20px;
}
#search {
  width: 100%;
}
#searchform {
  display: flex;
}
#searchform input {
  flex: 4;
  height: 50px;
  border: none;
}
#searchform button {
  flex: 1;
  background-color: #125fca;
  border: 0px;
  justify-content: center;
  display: inline-block;
  height: 50px;
  color: #fff;
  cursor: pointer;
}
#searchform button a {
  justify-content: center;
  font-weight: 800;
}
#searchform button:hover {
  background-color: #125fca6b;
}

/**********************************************************/

#rectangle {
  background-color: #f86600;
  height: 20px;
  z-index: 2;
}
#foodpic {
  position: relative;
  background-image: url(../img/variety_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 1;
  background-position-y: 78%;
}
#foodpic::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10vw solid #f86600;
  border-right: 100vw solid transparent;
}
